<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="org.eclipse.ui.navigator.viewer">
       <viewerActionBinding
             viewerId="org.talend.dataprofiler.core.ui.views.DQRespositoryView">
          <includes>
             <actionExtension pattern="org.talend.cwm.compare.ui.actions.provider.*" />
          </includes>
       </viewerActionBinding>  
   </extension>
   <extension  
         point="org.eclipse.ui.navigator.navigatorContent">
     <actionProvider
            class="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider"
            id="org.talend.cwm.compare.ui.actions.provider.ReloadDatabaseProvider">
         <enablement>
          <or>
            <instanceof
                     value="org.talend.dq.nodes.DBConnectionRepNode">
            </instanceof>
            <instanceof
                  value="org.talend.dq.nodes.DBTableFolderRepNode">
            </instanceof>
            <instanceof
                  value="org.talend.dq.nodes.DBViewFolderRepNode">
            </instanceof>
            <instanceof
                  value="org.talend.dq.nodes.DBColumnFolderRepNode">
            </instanceof>
           </or>
         </enablement>
      </actionProvider>        
   </extension>
   <extension
         point="org.talend.core.runtime.service">
      <Service
            class="org.talend.cwm.compare.ui.service.TDQCompareService"
            serviceId="org.talend.core.ITDQCompareService">
      </Service>
   </extension>
   
   <!-- extension
         point="org.eclipse.ui.views">
      <view
            class="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            id="org.talend.cwm.compare.ui.views.DQRepositoryListenerView"
            name="DQRepository Compare View">
      </view>
   </extension -->
</plugin>
